{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleUser.css') }}">
{% endblock %}

{% block body %}
    <div class="user-card">
     <h1>{{ user.pseudo }}</h1>
{#        Mise en place du chargement de la photo de profil de l'utilisateur et chargement
        d'une photo pa défaut en cas d'absence d'une photo uploader.#}
        {% if   user.photo is not null%}
        <img src="{{ asset('uploads/avatar/' ~ user.photo) }}" alt="{{ user.nom }}">
        {%else%}
        <img src="{{ asset('images/icondefaut.png') }}" alt="image par defaut">
        {% endif %}
        <div class="user-info">
            <p class="label">Nom : </p><p> {{ user.nom }}</p>
            <p class="label">Prénom :  </p><p>{{ user.prenom }}</p>
            <p class="label">Email :  </p><p>{{ user.email }}</p>
            <p class="label">Campus :  </p><p>{{ user.campus.nom }}</p>
            <p class="label">Téléphone : </p><p>{{ user.telephone }}</p>
        </div>
        <a href="{{ path('sorties') }}"><button >RETOUR</button></a>
    </div>

{% endblock %}

