{% extends 'base.html.twig' %}

{% block title %}Détail de profil{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>
    <p>Nom : {{ user.nom }}</p>
    <p>Prénom : {{ user.prenom }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Campus : {{ user.campus.nom }}</p>
    <p>Téléphone : {{ user.telephone }}</p>

    <a href="{{ path('sorties') }}"><button >RETOUR</button></a>
{% endblock %}

