{% extends 'base.html.twig' %}

{% block tittle %}Modification profile{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleUser.css') }}">
    {% endblock %}

    {#    Gestion de l'affichage de messages flash#}
    {% for label, messages in app.flashes  %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {%  endfor %}

    <div class="user-card">
        <h1>Modifier votre profil {{ user.pseudo }}</h1>
            <div class="user-info">
                <div class="container-info">
                    {#  Formulaire de modification du profil utilisateur #}
                    {{ form_start(profileForm)}}
                    <div class="form-widget">
                        {{ form_label(profileForm.nom) }}
                        {{ form_widget(profileForm.nom) }}
                    </div>
                    <div class="form-widget">
                        {{ form_label(profileForm.prenom )}}
                        {{ form_widget(profileForm.prenom) }}
                    </div>
                    <div class="form-widget">
                        {{ form_label(profileForm.email) }}
                        {{ form_widget(profileForm.email) }}
                    </div>
                    <div class="form-widget">
                        {{ form_label(profileForm.password) }}
                        {{ form_widget(profileForm.password) }}
                    </div>
                    <div class="form-widget">
                        {{ form_label(profileForm.passwordConfirmation) }}
                        {{ form_widget(profileForm.passwordConfirmation) }}
                    </div>
                    <div class="form-widget">
                        {{ form_label(profileForm.pseudo) }}
                        {{ form_widget(profileForm.pseudo) }}
                    </div>
                    <div class="form-widget-upload">
                        {{ form_label(profileForm.photo) }}
                        {{ form_widget(profileForm.photo) }}
                    </div>
                    <div class="form-widget">
                        {{ form_label(profileForm.telephone) }}
                        {{ form_widget(profileForm.telephone) }}
                    </div>
                    <div class="form-widget">
                        {{ form_label(profileForm.campus )}}
                        {{ form_widget(profileForm.campus) }}
                    </div>

                </div>

                    <div class="container-button">
                        {{ form_widget(profileForm) }}
                        <div class="form-widget">
                            <button>Valider</button>
                        </div>
                        {{ form_end(profileForm) }}
                        {#    Bouton de retour vers la page d'accueil#}
                        <div class="form-widget">
                            <a href="{{ path('sorties') }}"><button>RETOUR</button></a>
                        </div>
                    </div>
            </div>
    </div>


{% endblock %}
