{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Annuler la sortie : {{ sortie.nom }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="colonne1">
        <div class ="nom">Nom de la sortie : {{ sortie.nom }}</div>
        <div class="datedebut">Date de début : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</div>
        <div class="campus">Campus : {{ sortie.campus.nom }}</div>
        <div class="adresse">Adresse : {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</div>

        <form action="{{ path('sortie_annuler', {'id': sortie.id}) }}" method="post">

            <div class="textarea">
                <label for="motif">Motif:</label>
                <textarea id="motif" name="motif" rows="5" cols="33"></textarea></div>

            <input type="submit" value="Enregistrer">

        </form>


    </div>

    {#
    <div class="login">
    <a href="{{ path('sorties') }}"><button>Annuler</button></a>
</div>
    #}

{% endblock %}

