{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des sorties{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleAccueil.css') }}">
    {% endblock %}

    {% if app.user %}
        <div class="infos">
            <p>Date du jour : {{ 'now'|date('d/m/Y') }}</p>
                {% if app.user %}
                    <p>Bienvenue {{ app.user.prenom }} !</p>
                {% endif %}
        </div>


        <div class="filtres">
            <section name="filtres" id="filtres">
                <h2>Filtrer les sorties</h2>

                {{ form_start(filtresSortiesForm) }}

                {{ form_widget(filtresSortiesForm) }}

                <button>Rechercher</button>

                {{ form_end(filtresSortiesForm) }}
            </section>
        </div>


        <div class="tableau-Sorties">
            <section name="listeSorties" id="listeSorties">
                <table>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>

                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td>{{ sortie.inscrits.count }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>
                                {% if app.user in sortie.inscrits %}
                                    x
                                {% endif %}
                            </td>
                            <td><a href="{{ path('user_details', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }}</td>
                            <td>
                                <a href="{{ path('sortie_detail', {'slug': sortie.slug}) }}">Afficher</a>
                                {% if sortie.etat.libelle == 'ouverte' and app.user not in sortie.inscrits %}
                                    <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                                {% endif %}
                                {% if app.user in sortie.inscrits %}
                                    <a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}">Se désister</a>
                                {% endif %}
                                {% if app.user == sortie.organisateur %}
                                    {% if sortie.etat.libelle == 'en création' %}
                                        Modifier
                                        Publier
                                    {% endif %}
                                    {% if sortie.etat.libelle == 'ouverte' or sortie.etat.libelle == 'clôturée' %}
                                        <a href="{{ path('annuler_detail', {'id': sortie.id} )}}">Annuler</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <a href="{{ path('sortie_new') }}"><button>Créer une sortie</button></a>
            </section>
        </div>


    {% else %}

        <p>Ce site est réservé aux étudiants de l'ENI, merci de vous logger sur <a href="{{ path('app_login') }}">cette page</a>.</p>

    {% endif %}

{% endblock %}