{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des sorties{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleAccueil.css') }}">
{% endblock %}

{% block body %}

{#    Gestion de l'affichage de messages flash#}
    {% for label, messages in app.flashes  %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}

    {% endfor %}

    {% if app.user %}

        <div class="infos">
            <p>Date du jour : {{ 'now'|date('d/m/Y') }}</p>
                {% if app.user %}
                    <p>Bienvenue {{ app.user.prenom }} !</p>
                {% endif %}
        </div>

        <div class="sorties">
            <div class="filtres">
                <h2 class="titre_filtres">Filtrer les sorties</h2>
{#                <section class="bloc_filtres">#}
                    {{ form_start(filtresSortiesForm, { 'attr' : { 'class': 'form_filtres' } }) }}
                    <div class="filtres_gauche">
                        <div>
                            {{ form_label(filtresSortiesForm.campus) }}
                            {{ form_widget(filtresSortiesForm.campus) }}
                        </div>
                        <div>
                            {{ form_errors(filtresSortiesForm.nomRecherche) }}
                            {{ form_label(filtresSortiesForm.nomRecherche) }}
                            {{ form_widget(filtresSortiesForm.nomRecherche) }}
                        </div>
                        <div>
                            {{ form_errors(filtresSortiesForm.dateFin) }}
                            {{ form_label(filtresSortiesForm.dateDebut) }}
                            {{ form_widget(filtresSortiesForm.dateDebut) }}
                            {{ form_label(filtresSortiesForm.dateFin) }}
                            {{ form_widget(filtresSortiesForm.dateFin) }}
                        </div>
                    </div>
                    <div class="'filtres_droite">
                        <div>
                            {{ form_widget(filtresSortiesForm.isOrganisateur) }}
                            {{ form_label(filtresSortiesForm.isOrganisateur) }}
                        </div>
                        <div>
                            {{ form_widget(filtresSortiesForm.isInscrit) }}
                            {{ form_label(filtresSortiesForm.isInscrit) }}
                        </div>
                        <div>
                            {{ form_widget(filtresSortiesForm.isNotInscrit) }}
                            {{ form_label(filtresSortiesForm.isNotInscrit) }}
                        </div>
                        <div>
                            {{ form_widget(filtresSortiesForm.isPassee) }}
                            {{ form_label(filtresSortiesForm.isPassee) }}
                        </div>
                    </div>

                    <button>Rechercher</button>
                    {{ form_end(filtresSortiesForm) }}
{#                </section>#}
            </div>


            <div class="tableau-Sorties">
                <section class='listeSorties' name="listeSorties" id="listeSorties">
                    <table>
                        <thead>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits / Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                        </thead>

                        <tbody>
                        {% for sortie in sorties %}
                            <tr>
                                <td>{{ sortie.nom }}</td>
                                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                                <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                                <td>{{ sortie.inscrits.count }}/{{ sortie.nbInscriptionsMax }}</td>
                                <td>{{ sortie.etat.libelle }}</td>
                                <td>
                                    {% if app.user in sortie.inscrits %}
                                        x
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('user_details', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }}</td>
                                <td>
                                    <a href="{{ path('sortie_detail', {'slug': sortie.slug}) }}">Afficher</a>
                                    {% if sortie.etat.libelle == 'ouverte' and app.user not in sortie.inscrits and app.user != sortie.organisateur %}
                                        <br /><a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                                    {% endif %}
                                    {% if app.user in sortie.inscrits and app.user != sortie.organisateur %}
                                        <br /><a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}">Se désister</a>
                                    {% endif %}
                                    {% if app.user == sortie.organisateur %}
                                        {% if sortie.etat.libelle == 'en création' or sortie.etat.libelle == 'ouverte' %}
                                            <br /><a href="{{ path('sortie_modifier', {'id': sortie.id} )}}">Modifier</a>
                                        {% endif %}
                                        {% if sortie.etat.libelle == 'en création' %}
                                            <br /><a href="{{ path('sortie_publier', {'id': sortie.id} )}}">Publier</a>
                                        {% endif %}
                                        {% if sortie.etat.libelle == 'ouverte' or sortie.etat.libelle == 'clôturée' %}
                                            <br /><a href="{{ path('annuler_detail', {'id': sortie.id} )}}">Annuler</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
            <a href="{{ path('sortie_new') }}"><button>Créer une sortie</button></a>
        </div>

    {% else %}

        <p>Ce site est réservé aux étudiants de l'ENI, merci de vous logger sur <a href="{{ path('app_login') }}">cette page</a>.</p>

    {% endif %}

{% endblock %}