{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des sorties{% endblock %}

{% block body %}

    {% if app.user %}

        <p>Date du jour : {{ 'now'|date('d/m/Y') }}</p>
        {% if app.user %}
            <p>Bienvenue {{ app.user.prenom }} !</p>
        {% endif %}


        <section name="filtres" id="filtres">
            <h2>Filtrer les sorties</h2>

            {{ form_start(filtresSortiesForm) }}

            {{ form_widget(filtresSortiesForm) }}

            <button>Rechercher</button>

            {{ form_end(filtresSortiesForm) }}
        </section>

        <section name="listeSorties" id="listeSorties">
            <table>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>

                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                        <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                        <td>{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td></td>
                        <td>{{ sortie.organisateur.prenom }}</td>
                        <td>
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% if sortie.etat.libelle == 'ouverte' %}
                                <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                            {% endif %}
                            Se désister
                            {% if app.user == sortie.organisateur %}
                                {% if sortie.etat.libelle == 'en création' %}
                                    Modifier
                                    Publier
                                {% endif %}
                                {% if sortie.etat.libelle == 'ouverte' or sortie.etat.libelle == 'clôturée' %}
                                    Annuler
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <button>Créer une sortie</button>
        </section>

    {% else %}

        <p>Ce site est réservé aux étudiants de l'ENI, merci de vous logger sur <a href="{{ path('app_login') }}">cette page</a>.</p>

    {% endif %}

{% endblock %}