{% extends 'base.html.twig' %}

{% block title %}Création d'un lieu{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Créer un lieu</h1>

    {# Formulaire de modification du profil utilisateur #}
    {{ form_start(lieuForm)}}
        {{ form_widget(lieuForm) }}
            <div class="login"><button>Valider</button></div>
    {{ form_end(lieuForm) }}

    {# Bouton de retour vers la page de création de sortie #}
    <div class="login">
        <a href="{{ path('sortie_new') }}"><button>Annuler</button></a>
    </div>

{% endblock %}