{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Se connecter{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleLogin.css') }}">
    {% endblock %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
            <div class="login-card">
                <h2>CONNEXION</h2>
                <h3> Entrer vos identifiants </h3>
                    <form class="login-form" action="{{ path('app_login') }}" method="post">
                            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                            <input type="password" id="password" name="_password"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="remember">
                                    Se souvenir de moi
                                    <input  type="checkbox" name="_remember_me" checked/>
                                </div>
                            <button type="submit">connexion</button>
                    </form>
            </div>

{% endblock %}


