<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SPS-Sortir{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icons8-star-48.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

{#        Futur lien js :#}
{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#        {% endblock %}#}
    </head>
    <body>

        <header>
            <div>
                <a href="{{ path('sorties') }}"><img src="{{ asset('images/logoEni.png') }}" alt="SPS-Sortie"></a>
            </div>
            {% block  nav%}
                    {%  include'inc/_nav.html.twig' %}
            {% endblock %}
        </header>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            © SPS-Sortir {{ 'now'|date('Y') }}
        </footer>

    </body>
</html>
